<div class="back">
    <div class="waves">
        <div class="row">
            <div class="col-100 title">
                <p>{{equipo.fabricante}} {{equipo.modelo}} <span>Nº CORES</span> {{equipo.cores}}</p>
                <button routerLink="/">Volver</button>
            </div>
        </div>
        <div class="row">
            <div class="col-30">
                <div class="grafico" *ngIf="chartLastUsoCpu">
                    <p>% Uso CPU actual</p>
                    <canvas style="width: 1000px; height: 1000px" id="grafico1">{{chartLastUsoCpu}}</canvas>
                </div>
            </div>
            <div class="col-70">
                <div class="grafico" *ngIf="chartLastHourUsoCpu">
                    <p>Uso CPU última hora</p>
                    <canvas id="grafico2">{{chartLastHourUsoCpu}}</canvas>
                </div>
            </div>
        </div>
    </div>
</div>
