<div class="back">
    <div class="waves">
        <div class="row">
            <div class="col-100 title">
                <p>{{equipo.fabricante}} {{equipo.modelo}} <span>Nº CORES</span> {{equipo.cores}}</p>
                <div>
                    <button routerLink="/cpu-lasthour">Volver</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-30">
                <div class="grafico" *ngIf="chartLastUsoCpu">
                    <p>% Uso CPU actual</p>
                    <canvas style="width: 1000px; height: 1000px" id="grafico3">{{chartLastUsoCpu}}</canvas>
                </div>
            </div>
            <div class="col-70">
                <div class="grafico" *ngIf="chartLastMinuteUsoCpu">
                    <p>% Uso CPU último minuto</p>
                    <canvas id="grafico4">{{chartLastMinuteUsoCpu}}</canvas>
                </div>
            </div>
        </div>
    </div>
</div>
    
