@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generales */

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

/* Layout */

.back {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #141e30, #243b55);
}

.waves {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/bg-pattern.8cfe4242.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    margin: 0.5em 1em;
    display: flex;
}

.col-100 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.col-100.menu {
    align-items: center;
}

.col-100.title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.col-100.title p {
    font-size: 2.5em;
}

.col-100.title p span {
    font-size: 0.6em;
}

/* Botones */

button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0.3em;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 1em;
    transition: all 400ms ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: #141e30;
    border: 1px solid #141e30;
}

.jumbo {
    margin: 1em;
    padding: 1.5em 3em;
    border-radius: 0.5em;
    background: linear-gradient(to left, #141e30, #243b55);
    box-shadow: -2px 2px 4px #141e30;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transition: all 400ms ease-in-out;
}

.jumbo span {
    font-size: 3em;
    margin-top: 0.5em;
}

.jumbo:hover {
    cursor: pointer;
    box-shadow: -6px 6px 8px #141e30;
}